* {
  margin: 0px;
  box-sizing: border-box;
  font-size: 0px;
  font-family: Menlo;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
}

.user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@import "~@/styles/theme.less";

*::selection {
  background: @color-selection-background;
}
