* {
  margin: 0;
  box-sizing: border-box;
  font-size: 0px;
  font-family: Arial;
}

//colors
@color-background: #333333;
@color-dark-background: #1e1e1e;
@color-border: #121212;
@color-shadow: #000000;
