//background
@color-background: #282c34;
@color-dark-background: #21252b;
@color-light-background: #2c313c;
//border
@color-border: #181a1f;
@color-light-border: #515a6b;
@color-border-shadow: #000000;
//font
@color-text: #abb2bf;
@color-dark-text: #7f848e;
@color-light-text: #f8fafd;
@color-text-shadow: #00000080;
