//background
@color-background: #282c34;
@color-dark-background: #21252b;
@color-light-background: #2c313c;
//border
@color-border: #181a1f;
@color-light-border: #515a6b;
@color-border-shadow: #000000;
//font
@color-content: #abb2bf;
@color-dark-content: #7f848e;
@color-light-content: #f8fafd;
