//background
@color-background: #282c34;
@color-background-dark: #21252b;
@color-background-light: #2c313c;
@color-background-selection: #67769660;
@color-background-selection2: #d7dae0;
@color-background-hover: #383e4a;
@color-background-popup: #4d78cc;
@color-background-popup2: #7e0097;
//border
@color-border: #181a1f;
@color-border-light: #515a6b;
@color-border-shadow: #000000;
@color-border-illegal: #f44747;
//text
@color-text: #abb2bf;
@color-text-dark: #7f848e;
@color-text-darker: #495162;
@color-text-light: #f8fafd;
@color-text2: #e06c75;
@color-text3: #61afef;
@color-text4: #e5c07b;
@color-text-shadow: #00000080;
@color-text-menu: #c8c8c8;
@color-text-menu-dark: #9da5b4;
//icon
@color-icon-breakpoint: #e51400;
